<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <img src="assets/img/devudimudra.png" height="50">
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size:15px"><b>అంతిమ దైవగ్రంథములో<br>జ్ఞాన వాక్యములు</b></ion-title>
    <ion-buttons slot="end">
      <img src="assets/img/kiss.png" height="50">
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-content-color">
  <ion-grid [style.color]='this.globaldata.fontColor' [style.background-color]='this.globaldata.bgColor'
    [ngStyle]="{'font-size':this.globaldata.fontSize+'px'}">
    <br>
    <ion-row>
      <ion-col style="font-size:17px" class="ion-text-center">
        <b> గ్రంథము వ్రాయుటకు ప్రేరణ</b>&nbsp;

        <ion-icon (click)="presentModal()" name="settings"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-card class="custom-card">
      <ion-card-content>
        <ion-row>
          <ion-col [style.color]='this.globaldata.fontColor' [style.background-color]='this.globaldata.bgColor'
            [ngStyle]="{'font-size':this.globaldata.fontSize+'px'}">

            28.09.2014 తేదీన స్వర్గము నరకమును గురించి వ్రాయాలను
            కొని అదేరోజు “స్వర్గము ఇంద్రలోకమా!-నరకము యమరాజ్యమా!!" అను
            గ్రంథమును ప్రారంభించి 7.10.2014 తేదీకి గ్రంథమును తయారు చేసి
            బయటకు ఇవ్వడము జరిగినది. తర్వాత 9.10.2014 తేదీన "జీహాద్
            అంటే యుద్ధమా?" అను గ్రంథమును వ్రాయుటకు ప్రారంభించి
            19.10.2014 తేదీకి గ్రంథమును తయారుచేసి బయటకు ఇవ్వడము
            జరిగినది. ఆ తర్వాత 20.10.2014 తేదీన "మూడు గ్రంథములు, ఇద్దరు
            గురువులు, ఒక బోధకుడు" అను గ్రంథమును ప్రారంభించి 29.10.2014
            తేదీకి తయారుచేసి ఇవ్వడము జరిగినది. చెప్పితే, ఎవరూ నమ్మలేనంత
            వేగముగా ఒక నెల వ్యవధిలో మూడు గ్రంథములను తయారు చేసి
            ఇవ్వడము జరిగినది. క్రొత్తగా ఏ గ్రంథము తయారయినా మొదట 
            మూడు వందల గ్రంథములను బయట ప్రజలకు ఉచితముగా ఇవ్వడము
            మొదటినుండి ఆనవాయితీగా చేస్తున్నాము. అట్లు చేయడము దేవుని సేవగా
            భావించి చేయుచున్నాము. ఆ కార్యములో భాగముగా మా అనుచరులు
            (భక్తులు) <b>“స్వర్గము ఇంద్రలోకమా!-నరకము యమరాజ్యమా!!"</b> అను
            గ్రంథమును అనంతపురము జిల్లాలో ఉచితముగా పంచడము జరిగినది.
            “స్వర్గము, నరకము" గ్రంథములో స్వర్గము వస్తుందను ఆశతో
            ముస్లీమలు ఉగ్రవాదులుగా తయారై తాము చనిపోవడమేకాక ఇతరులనూ
            చంపుచున్నారని, ఇతరులను చంపడము దేవుని సేవలో భాగమని వారు
            తలచి ఇతరుల గొంతులు కోయుచున్నారనీ, అలా చేస్తూ చనిపోతే స్వర్గము
            వస్తుందను నమ్మకముతో అట్లు చేయుచున్నారనీ, అది మంచి పద్ధతికాదు,
            దేవుని జ్ఞానము కాదని, దేవుడు దానిని ఒప్పుకోడని ఖుర్ఆన్ లోని కొన్ని
            వాక్యములను సాక్ష్యముగా చూపుచూ వ్రాయడము జరిగినది. ఒక్క
            ముస్లీమ్ మతమువారినే కాకుండా స్వర్గ, నరకముల యెడల హిందువుల
            కున్న చెడు అభిప్రాయమునూ, క్రైస్తవులకున్న అజ్ఞానమునూ అన్నిటినీ
            బయట పెట్టుచూ వ్రాస్తూ, స్వర్గమంటే ఇదియనీ, నరకమంటే ఇదియనీ
            వివరిస్తూ చెప్పి వ్రాయడము జరిగినది.
             <br><br>
             <b> “స్వర్గము, నరకము"</b> గ్రంథములను ఉచితముగా పంచిన తర్వాత
            రెండవ గ్రంథము <b> “జీహాద్ అంటే యుద్ధమా?"</b> అను గ్రంథము కూడా
            తయారయిన తర్వాత ఆ గ్రంథమును 28. 10.2014 మంగళవారము
            దినమున అనంతపురములో మా భక్తులు మొదట కలెక్టర్ ఆఫీస్ లోనూ
            తర్వాత యస్.పి. ఆఫీసులోనూ ఇవ్వడము జరిగినది. అప్పుడు అంతకు
            ముందు ఇచ్చిన "స్వర్గము, నరకము" గ్రంథమును చదివినవారు మీ
            గ్రంథములు బాగున్నాయి, ఇప్పటి సమాజమునకు ఎంతో అవసరము,
            అన్ని పోలీస్ స్టేషన్లలో ఇవ్వమని యస్.పి ఆఫీస్ లో చెప్పగా అలాగే అన్ని
            స్టేషన్లలో * ఇవ్వడము జరిగినది. అన్ని చోట్లా అందరూ సంతోషముగా మా
            గ్రంథములను తీసుకొని “స్వర్గము, నరకము" ను చదివాము చాలా బాగుంది
            అని చెప్పడము జరిగినది. అయితే అనంతపురము త్రీటౌన్ పోలీస్ స్టేషన్
            లోని యస్.ఐ. ముస్లీమ్ మతస్థుడు అయినందున అతను అసూయతో
            దురుసుగా మాట్లాడడము జరిగినది. అతను దూషణగా మాట్లాడిన
            మాటలలో, ఖుర్ఆన్ గ్రంథములోని వాక్యములను వ్రాశాడు ఇతనికి ఏమి
            తెలుసుయని ఖుర్ఆన్ వాక్యములను వ్రాశాడు? (ఈ మాటనే ఇంకా
            అసభ్యముగా అడిగాడు) ఎవరి అనుమతితో వ్రాశాడు? ఈయన నాకు
            కనిపిస్తే ఖుర్ఆన్ గురించి నీకు ఏమి తెలుసునని అడుగుతాను? అని
            అనడము జరిగినది. అక్కడ ఘర్షణ వాతావరణము ఏర్పడిన దానివలన
            అక్కడి మిగతావారు సర్ధిచెప్పడము వలన మావారు ఏమీ మాట్లాడకుండా
            వచ్చారు. సమాజములో ఇటువంటివారు ఎందరో ఉండవచ్చును. వారి
            ప్రశ్నలకు కూడా మేము జవాబు ఇవ్వవలసిన బాధ్యతయుంది. అటువంటి
            వారికి మా జవాబు ఈ విధముగా యున్నది.
            <br><br>
            మేము సమాజమునకు ఎంతో మేలు చేయాలను ఉద్దేశ్యముతో
            స్వర్గము కొరకు ఇతరులను చంపుటే ధ్యేయముగా పెట్టుకొన్నవారికి
            “ఇతరులను చంపితే స్వర్గము రాదు, ఖుర్ఆన్లో అలా వ్రాయలేదు” అని
            గ్రంథములోని వాక్యములనే వివరించి చెప్పాము. దానిని ఓర్చుకోలేక
            అసహనముతో ఒక పోలీస్ ఉద్యోగి అలా మాట్లాడడము ఆశ్చర్యము!
            ఎందరికో మంచిగా కనిపించినా, అతను ఒక్కడు అలా మాట్లాడడము
            వెనుక మతద్వేషము తప్ప ఏమీ లేదని తెలియుచున్నది. మా గ్రంథమును
            చదివిన ఎందరో ఉన్నత స్థానములో యున్న ముస్లీమ్ పెద్దలు ఎంతో
            బాగున్నదని ప్రశంసించుచుండగా, ఇటువంటివారు కొందరు వ్యతిరేఖముగా
            మాట్లాడడము కూడా జరుగుచుండును. మేము వారి మాటలకు కూడా
            జవాబును ఇవ్వదలచి ఇలా అడుగుచున్నాము. మేము ఎక్కడయినా ఖుర్ఆన్
            గ్రంథమును గురించి తక్కువగాగానీ, వ్యతిరేఖముగాగానీ మాట్లాడినామా?
            ఖుర్ఆనను అడ్డము పెట్టుకొని అక్రమములు చేయువారికి అది మంచి
            పద్ధతికాదని హితము చెప్పాము. మేము ఒక్క ముస్లీమ్ మతములోని
            వారికేగాక, దైవగ్రంథము అయిన భగవద్గీతకు వ్యతిరేఖముగా నడుచుకొను
            హిందువులను కూడా మందలించి ఇది మంచి పద్ధతి కాదు, దేవుని దృష్టిలో
            అధర్మమగునని చెప్పాము. అలాగే అంతిమ దైవగ్రంథమయిన ఖుర్ఆన్
            గ్రంథములోని వాక్యములను అర్థము చేసుకోలేనివారిని, వాటిని తమ 
            ఇష్టానుసారము అపార్థము చేసుకొని దేవుడు చెప్పని వాటిని కూడా దేవుడు
            చెప్పాడని అక్రమాలు చేయువారిని, అవి దేవునికి సరిపోని చర్యలని, అలా
            దేవుడు ఎక్కడా ఏ వాక్యములోనూ చెప్పలేదనీ, అలా చెప్పని కార్యములను
            చేస్తే పాపము వస్తుందని హెచ్చరించుచూ వచ్చాము. ఖుర్ఆన్ ఒక్క ముస్లీమ్
            మతమునకు సంబంధించిన గ్రంథము కాదు. అది సర్వమానవులకు
            సమానముగా చెప్పినది. అందువలన ఆ గ్రంథము మీద బాధ్యత
            ముస్లీమ్ లకు ఎంతయుంటుందో, అంతే బాధ్యత ఆ గ్రంథమును విశ్వసించిన
            హిందువులకు కూడా యుంటుంది. భగవద్గీత ప్రథమ దైవగ్రంథమని
            మాకు తెలుసు. రెండు గ్రంథములలో ఒకే దైవజ్ఞానమున్నదని కూడా మాకు
            తెలుసు. రెండిటినీ సమాన గౌరవముతో మేము చూస్తున్నాము. మాకు
            మత ద్వేషములుగానీ, అసూయలుగానీ ఉండవు. మేము వ్రాసిన 64
            గ్రంథములయందు మూడు మతములలో ఒక మత గ్రంథమును తక్కువ
            చేసి చెప్పడము అనే ప్రసక్తేయుండదు. మేము ఒక గురువుగా మనుషులకు
            హితము చెప్పాము తప్ప, చెడు చెప్పలేదు కదా! మేము ఏమి చెప్పినా
            సమాజములో కనువిప్పు అవుతుంది. ఆధ్యాత్మిక రంగములో ఒక స్పందన
            వస్తుంది.
            <br><br>
            నేను ఒక్కడినే కాకుండా నాలాంటివారు ముస్లీమ్ లలో కూడా
            యుండి ప్రజలకు హితము చెప్పుటకై ఎందరో ముస్లీమ్ పెద్దలు,
            ఆధ్యాత్మికవేత్తలు ఎన్నో గ్రంథములను వ్రాశారు. ఎన్నో ఉపన్యాసము
            లను చెప్పారు. వారు ముస్లీమ్ లయినా భగవద్గీతను, వేదములను,
            ఉపనిషత్తులను, పురాణములను వారి రచనలలో వాడుకొని అవసరమొచ్చిన
            చోట ఆ గ్రంథములలోని వాక్యములను సాక్ష్యముగా చెప్పి వ్రాయడము,
            ఉపన్యసించడము జరిగినది. నేను హిందువుగాయుండి మా గ్రంథములలోని
            వాక్యములను ఎవరిని అడిగి వ్రాశారు అని వారిని అడిగామా? మేము
            ఎప్పుడూ అలా అడుగలేదు. ఎందుకనగా! భగవద్గీత దైవగ్రంథము, దైవ
            గ్రంథము ఏదయినా సర్వమానవుల కొరకు చెప్పినదే అయినందున
            భగవద్గీతను ఏ మతమువారయినా చదువుకోవచ్చును, అందులోని
            వాక్యములను చెప్పుకోవచ్చును. అలాగే ఖుర్ఆన్ గ్రంథము కూడా
            దైవగ్రంథము అయినందున దానిమీద ఒక్క ముస్లీమ్ మతము వారికే
            కాకుండా మిగతా అన్ని మతములలో పుట్టినవారికీ భక్తి విశ్వాసములు
             ఉండవచ్చును. అందులోని వాక్యములను చదువుకోవచ్చును, చేతనయితే
            చెప్పుకోవచ్చును. దైవ గ్రంథములు మూడు సర్వమానవుల కొరకు
            చెప్పబడినవి. వాటిమీద ఎవరికయినా భక్తియుండవచ్చును గానీ, భక్తికి
            ఎవరి అనుమతి అవసరము ఉండదు. అందువలన మేము మా
            భగవద్గీతలోని వాక్యములను మీరు ఎందుకు చెప్పుచున్నారని ఎవరినీ
            అడుగలేదు. మేము ఖుర్ఆన్ గ్రంథములోని వాక్యములకు వివరము చెప్పితే,
            ఆ వాక్యములను చూపి హితము చెప్పితే, ముస్లీమ్ పెద్దలను అడిగి ఖుర్ఆన్
            వాక్యములను వ్రాయాలి అంటే అది తెలివి తక్కువ మాటయగును. మీ
            మాట ప్రకారమైతే భగవద్గీత వాక్యములను వ్రాసుకొన్న ముస్లీమ్ లను మేము
            ఎవరి అనుమతితో భగవద్గీతను వాడుకొన్నారని అడుగవలెనా? మేము
            ఎప్పటికీ అలా అనము. మేము దేవుని విషయములో అంత అజ్ఞానులము
            కాదు.
            <br><br>
            ఇక్కడ మరొక విషయము మేము వ్రాసిన చాలా గ్రంథములలో
            ఖుర్ఆన్ వాక్యములను అవసరమున్న చోటంతా భగవద్గీత వాక్యములతో
            జోడించి చెప్పాము. వాటిని చూచిన తెలివితక్కువ మనుషులు ఖుర్ఆన్
            గ్రంథమును గురించి ఏమి తెలుసునని అందులోని విషయములను
            వ్రాశారు? అని ప్రశ్నించడము జరిగినది. దానికి నేను సూటిగా
            చెప్పునదేమనగా! ప్రజలకు ఏమి తెలియదో దానిని మేము తెలిసి వ్రాశాము
            అని చెప్పుచున్నాము. ఖుర్ఆన్ గ్రంథమును ముస్లీమ్ లందరూ చదువలేదు.
            ఒకవేళ అరబ్బీ భాషలో చదివినా దాని అర్థము తెలియదు. అయితే నేడు
            మేము చెప్పు ఖుర్ఆన్ భావములను ఎందరో ముస్లీమ్ లు తెలుసుకోగలిగారు.
            వారికి ఖుర్ఆన్లో తెలియని విషయములన్నిటికీ వివరమును నన్ను అడిగి
            తెలుసుకొంటున్నారు. కొన్ని వాక్యములను ఎవరు చెప్పినా అందులో
            సత్యము లేదని నావద్దకు వచ్చి తెలుసుకొని తృప్తి చెందుచున్నారు.
            అటువంటివారు నన్ను ఏమి తెలిసి వ్రాశారు అని ప్రశ్నించిన వారిని చూచి
            నవ్విపోతారు. అలా తెలివితక్కువగా మాట్లాడువారికి ఖుర్ఆన్ గ్రంథములో
            నాకెంత తెలుసో తెలియుటకు గ్రంథములోని ఒక ఆయత్ ను చూపి దానికి 
            ఇంతవరకు ఎవరికైనా అర్థము తెలుసా? అని ప్రశ్నించుచున్నాను. నాకు
            ఎంత తెలుసు అని అడిగినవారు ఎవరైనా ఆ ఆయత్ కు సరియైన జవాబును,
            తిరిగి ప్రశ్న రాని జవాబును చెప్పమను, చెప్పగలరేమో! ఇప్పుడు కాకున్నా
            ఒక సంవత్సరమునకయినా చెప్పగలరా!యని నేను అడుగుచున్నాను.
            <br><br>
            దాదాపు నాలుగు సంవత్సరముల క్రితము నేను, ముస్లీమ్ పెద్దలు
            విశాఖపట్టణములో ఒక చర్చలో కలియడము జరిగినది. అప్పుడు పదిమంది
            పెద్దలు నన్ను ఇస్లామ్ లోనికి (ముస్లీమ్ మతములోనికి) చేరమని
            ఆహ్వానించడము జరిగినది. నన్ను అలా పిలుచుటకే ఆ దినము అందరూ
            కలిసారనుకొంటాను. అప్పుడు నేను మతము మారను అనకుండా నేను
            అడిగిన ఖుర్ఆన్లోని ఆయత్ కు వివరమును చెప్పితే నేను మీ మతములోనికి
            వస్తాను అని ఒక షరతును పెట్టడము జరిగినది. ఆ దినము 6వ సూరా,
            95వ  ఆయత్ ను గురించి అడిగాము. దానికి వారు ఆ దినము సరియైన
            సమాధానము చెప్పలేకపోయి, చివరకు ఇంటర్నెట్ లో దీనిని గురించి
            వ్రాసియుంటారు తర్వాత చూచి వివరమును చెప్పుతామని చెప్పిపోవడము
            జరిగినది. ఆ రోజు అరబ్బీ భాషలో ఖుర్ఆన్ ను ధారాళముగా చెప్పు
            పండితులే వెనుదిరిగి పోయారు. ఆ దినము వారు మీకు ఖుర్ఆనన్ను
            గురించి ఏమి తెలుసు? అని నన్ను ప్రశ్నించలేదే! ఈ రోజు నన్ను అడిగిన
            వారికంటే వారు తక్కువవారా? అంతెందుకు ఖుర్ఆనను గురించి ఏమి
            తెలుసునని ప్రశ్నించిన వారిని ఇప్పుడు నేను అడుగుచున్నాను. నాకంటే
            నీవు ఎక్కువ తెలిసినవాడివయితే ఈ ఆయత్ కు వివరము చెప్పగలవా?
            అని ప్రశ్నించుచున్నాను. అది మహాజ్ఞాని అయిన జిబ్రయేల్ గ్రహము
            చెప్పిన దైవవాక్యము. దానికి పది సంవత్సరములు గడువు ఇచ్చినా ఎవరూ
            వివరణ చెప్పలేరు. అది దేవుడు చెప్పితే మనిషి గ్రహించుకోవలసిందేగానీ,
            మనిషికి స్వయముగా దానిని గురించి తెలియదు.
            <br><br>
            అజ్ఞానమార్గములో యున్నవారు నన్ను మరొక విధముగా
            ప్రశ్నించుచూ ఇలా అంటున్నారు. “మీరు ఏ విషయమును కూడా నేను
            చెప్పుచున్నాను అనకుండా, నాకు నా ఆత్మ (దేవుడు) తెలియజేసిన దానిని
            చెప్పుచున్నానని చాలాచోట్ల వ్రాశారు. మీది మీరే నమ్మకముగా చెప్పకుండా,
            లోపల దేవుడు చెప్పితే చెప్పుచున్నానని అంటున్నారు. మీకు చెప్పే దానిని
            ధైర్యముగా నేను చెప్పుచున్నానని చెప్పవచ్చును కదా! మీరు ధైర్యముగా
            చెప్పలేని విషయములను, మీది మీకే నమ్మకములేని విషయములను మేమెలా
            నమ్మాలి?” అని అంటున్నారు. దానికి మా జవాబు ఏమనగా! ఆధ్యాత్మికము
            తెలిసినవాడు తన శరీరములోని ఆత్మ విషయము తెలిసినవాడు, జ్ఞాని
            అయినవాడు ఎవడుగానీ, ఖుర్ఆన్ గ్రంథములో 50వ సూరా 21వ
            ఆయత్ కు అర్థము తెలిసినవాడు ఎవడుగానీ, భగవద్గీతలో మోక్ష సన్న్యాస
            యోగమున 61వ శ్లోకమునకు వివరము తెలిసినవాడు ఎవడుగానీ తాను
            చేయు ఏ పనినీ తనమీద పెట్టుకోక అన్నీ దేవుడే చేయిస్తున్నాడనిగానీ,
            అన్నీ దేవుడే చెప్పుచున్నాడనిగానీ, అందరినీ దేవుడే ఆడించుచున్నాడనిగానీ
            చెప్పవలసియుండును. అట్లుకాకుండా నేనే చెప్పుచున్నాననిగానీ, నేనే
            చేయుచున్నానను భావముగానీ మనిషిలో ఉండకూడదు. దేనినీ తనమీద
            పెట్టుకోకుండా చేయువానిది భగవద్గీతలో చెప్పినట్లు కర్మయోగమగును.
            అట్లు కాకుండా ప్రతి పనిలోనూ తానే చేయునట్లు భావించుకొనువానిది
            అజ్ఞానమగును. అది కర్మయోగము కాదు. కర్మరోగమగును. అందువలన
            ఒక విషయమును బయటికి కనిపించునట్లు మేమే చెప్పుచున్నప్పటికీ, లోపల
            మా భావములో మేము అను భావము ఉండక, సర్వమునకూ మూలకర్తయైన
            దేవుడే చేయిస్తున్నాడని తెలిసియుండి, అట్లే బయటికి కూడా చెప్పడము
            జరుగుచున్నది. అది జ్ఞానము తెలియని అజ్ఞానులకు విచిత్రముగా తోచినా
            తెలిసినవారికి అదియే సరియైన పద్ధతని తెలియును.
            <br><br>
            భూమిమీద ఇటువంటి ప్రశ్నలను అడుగువారు ఎన్నోచోట్ల ఎందరో
            యున్నారు. అందులన వారి ప్రశ్నలకు కూడా జవాబును ఇవ్వదలచిన
            దేవుడు ఒక పోలీస్ ఉద్యోగిని దురుసుగా మాట్లాడునట్లు చేసి అందులో
            మూడు ప్రశ్నలను వచ్చునట్లు చేశాడు. తర్వాత ఇవతలివైపు నుండి ప్రశ్నలకు
            జవాబులు వచ్చునట్లు దేవుడే చేశాడు. దేవునికి తెలియకుండా, దేవుడు
            సంకల్పించకుండా ఏదీ జరుగదు. ప్రశ్నలకు జవాబులను నానుండి
            చెప్పించాడు. ఈ తతంగము ఎవరికీ తెలియదు. పైన జరుగుదానిని
            మాత్రమే చూచువారికి లోపల జరిగించునదేదో తెలియదు. ఈ విషయము
            ఇంతటితో ఆగిపోక ఈ ప్రశ్నలను ప్రేరణగా చేసి, నా చేత ఖుర్ఆన్
            గ్రంథమునకు వివరమును వ్రాయించుటకు రంగమును సిద్ధము చేశాడు.
            నేను ఖుర్ఆన్ గ్రంథములోని కొన్ని వాక్యములకు ధర్మయుక్తముగా,
            శాస్త్రబద్ధముగా వ్రాయుటకు ప్రేరణ జరుగడమును దేవుని ఆజ్ఞగా భావించి
            ఆ కార్యమును చేయుటకు పూనుకోవడము జరిగినది. ఇక్కడ కనిపించే
            కార్యములను మనిషి చేసినా, కనిపించని కారణమై చేయించేవాడు మరొక
            డున్నాడని మరువకూడదు. అందువలన ఖుర్ఆన్ గ్రంథమునకు వివరమును
            వ్రాయడము అందరికీ కనిపించే నేను చేసినా, ఎవరికీ కనిపించక చేసినవాడు
            వేరుగా యున్నాడు. వాడు ఎవడో తెలుసుకోవడమే నిజమైన జ్ఞానము.
            నిజమైన ఆధ్యాత్మికము.
            <br><br>
            ఇక్కడ కొందరు ఒక ప్రశ్న అడుగుటకు అవకాశము గలదు.
            అదేమనగా! “నీవు ఇందూమతములోనివాడివి, ఖుర్ఆన్ గ్రంథము ఇస్లామ్
            మతములోనిది. నీ మతములోని భగవద్గీత గ్రంథమునకు నీవు వివరము
            వ్రాయవచ్చునేమోగానీ, ఇస్లామ్ మతములోని ఖుర్ఆన్ గ్రంథములోని
            వాక్యములకు వివరమును వ్రాయాలి అంటే ఎంతో కష్టమగును కదా!
            అందువలన ఖుర్ఆన్ గ్రంథములోని వాక్యములకు వివరమును వ్రాయడము
            సాధ్యమగునా? మీరు లోపలివాడు, బయటివాడు అని చెప్పక బయటి
            మీరు ఎలా వ్రాయగలరో మాకు అర్థమగునట్లు చెప్పండి?” అని అడుగ
            వచ్చును. దానికి మా జవాబు ఏమనగా! ప్రపంచములోని పన్నెండు
            మతములలో మూడు మతములే ముఖ్యమైనవి మరియు పెద్దవి. దేవుడు
            నేను మానవులకు మూడు విధములుగా జ్ఞానమును తెలియజేస్తానని చెప్పి
            మూడు విధములుగా తెలియజేసిన జ్ఞానము మూడు పెద్ద మతములయిన
            ఇందూ, ఇస్లామ్, క్రైస్తవములలోనే కలదు. అందులో మొదటిది
            ఇందూత్వము. తర్వాతది క్రైస్తవము, చివరిది ఇస్లామ్. మొదటిదయిన
            ఇందు సమాజములో పుట్టినవాడను నేను. ఇందూ సమాజమునకు
            అలవాటైన గ్రంథము అన్నిటికంటే ముందు పుట్టిన భగవద్గీత. ముందు
            పుట్టిన భగవద్గీత నాకు బాగా తెలుసు. నిజము చెప్పాలంటే అందులోని
            ఒక శ్లోకము కూడా నాకు రాదుగానీ, వాటి భావము మాత్రము నాకు
            తెలుసు. ఇంకా నిజము చెప్పాలంటే శ్లోకాల భావము నాకు తెలియదుగానీ
            నాలోయున్న భావమునకు సరిపడు శ్లోకములే భగవద్గీతలో ఉన్నాయి.
            ఏమీ అర్థము కాకుండా, ఒక పద్ధతి లేకుండా ఇలా చెప్పుచున్నాడేమిటి!
            అని అనుకోవద్దండి. ఇది ఒక భగవద్గీతకు సంబంధించిన విషయమే
            కాదు. మిగతా రెండు గ్రంథముల విషయములో కూడా నాలోయున్న
            భావనే అందులో వాక్యములుగా యుండడము జరిగినది. అందువలన
            మొదట భగవద్గీతలోని జ్ఞానము నాకు సులభమైపోయినది అంతేకాక 
            భగవద్గీత గ్రంథమును నేను చదువకముందే అవి నాలోయున్న భావములే
            కనుక ఆ గ్రంథము నాకు సులభమైనది. కావుననే నేను వ్రాసిన
            భగవద్గీతలోని వివరము ఎందరో రచయితలు వ్రాసిన గ్రంథములలోని
            వివరములకంటే ఎంతో బాగుండును. ఎంతో సత్యముగా ఉండును.
            మిగతా రెండు గ్రంథములయందు కూడా నేను చదువకముందే చెప్పిన
            వాక్యములు అందులో ఉండడము జరిగినది. మిగతా రెండు గ్రంథములు
            కూడా భగవద్గీతను అనుసరించి పుట్టినవే అయినందున, భగవద్గీత నాకు
            ఎంత సులభమయినదో, మిగతా రెండు గ్రంథములు కూడా అంతే
            సులభముగా నాకు కనిపించాయి. అందువలన ఏ గ్రంథములోని
            విషయమునైనా సులభముగా చెప్పగలము. మిగతా గ్రంథములకు
            వివరమును నేను చెప్పినప్పుడే దాని విలువ, గొప్పదనము ప్రజలు గ్రహించ
            గలుగుచున్నారు. నేను వివరించి చెప్పనంత వరకు అవి సరిగా ఎవరికీ
            అర్థము కావడము లేదు. ఇదంతయూ గమనించిన తర్వాత అందరికీ
            అర్థము అగుటకు, మూడు గ్రంథముల వివరము వ్రాయదలచాను.
            భగవద్గీతను వ్రాశాను. ఇప్పుడు ఖుర్ఆన్ వాక్యములను వ్రాయుచున్నాను.
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>