<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <img src="assets/img/devudimudra.png" height="50">
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size:15px"><b>అంతిమ దైవగ్రంథములో<br>జ్ఞాన వాక్యములు</b></ion-title>
    <ion-buttons slot="end">
      <img src="assets/img/kiss.png" height="50">
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-content-color">

  <ion-grid [style.color]='this.globaldata.fontColor' [style.background-color]='this.globaldata.bgColor'
    [ngStyle]="{'font-size':this.globaldata.fontSize+'px'}">

    <ion-row>
      <ion-col style="font-size:17px">
        <ion-title class="ion-text-center"> <b>'ఖుదా ఇస్లామిక్ స్పిరిచ్యువల్ సొసైటీ' ముఖ్య ఉద్దేశ్యములు</b>
          &nbsp; <ion-icon (click)="presentModal()" name="settings"></ion-icon>

        </ion-title>
      </ion-col>
    </ion-row>

    <ion-card class="custom-card-summary">
      <ion-row>
        <ion-col [style.color]='this.globaldata.fontColor' [style.background-color]='this.globaldata.bgColor'
          [ngStyle]="{'font-size':this.globaldata.fontSize+'px'}">

          SLAMIC<br>
          KHUDA ISLAMIC SPIRITUAL SOCIETY<br>
          ఖుదా ఇస్లామిక్ స్పిరిచ్యువల్ సొసైటీ<br>
          (Regd.No. : 459/2011)<br>
          Hans SOCIETY
          Ki.S.See
          <br><br>
          <span style="text-align: center;"> <b>ముఖ్య ఉద్దేశాలు</b></span>
          <br><br>
          1.పవిత్ర ఖురాన్ గ్రంథములోని ధర్మములను సంరక్షించుట మరియు
          ప్రచారము చేయుట.
          <br><br>
          2.పవిత్ర ఖురాన్ గ్రంథములోని దైవజ్ఞానమునకు భంగం కలుగకుండా
          హిందూ, క్రైస్తవములతో సమన్వయపరుచుట
          <br><br>
          3. పవిత్ర ఖురాన్ గ్రంథములోని హజ్రత్ ముహమ్మద్ ప్రవక్త (సం)
          గారి గౌరవమునకు లోటు లేకుండా చూచుట.
          <br><br>
          4. పవిత్ర ఖురాన్ గ్రంథములోని వాక్యములకు దేవుని విధానంలోని
          భావమును విశధీకరించి చెప్పుట.
          <br><br>
          5.పవిత్ర ఖురాన్ గ్రంథములోని పవిత్రతను ఇస్లామ్ లో మరి ఏ
          గ్రంథములతో సరిపోల్చకుండా చూచుట.
          <br><br>
          6.పవిత్ర ఖురాన్ గ్రంథములోని ప్రవక్తకుగానీ, అల్లాహ్ కుగానీ
          ఆటంకమును కలుగజేయు అర్థము కాని వాక్యములకు ఎవరూ
          ఎదురాడని వివరమును తెలుపుట.
          <br><br>
          7. పవిత్ర ఖురాన్ గ్రంథములోని దైవవాక్యముల తర్వాతనే ముస్లీమలకు
          హదీసు గ్రంథములోని వాక్యముల ప్రాధాన్యతయని తెలుపుట.
          <br><br>
          8. పవిత్ర ఖురాన్ గ్రంథములోని ధర్మము దైవముది,జ్ఞానము ప్రవక్తది,
          ఆచరణ మనుషులది. అందువలన ఇస్లామ్ మానవులందరికీ
          ఆచరణ యోగ్యమైనదని తెలుపుట.
          <br><br>
          9.పవిత్ర ఖురాన్ గ్రంథములోని ధర్మములు ప్రతి మనిషికీ
          సంబంధించినవనీ, హదీసు గ్రంథములోని వాక్యములు ముస్లీమలకు
          మాత్రమే సంబంధించినవని తెల్పుట.
          <br><br>
          10. పవిత్ర ఖురాన్ గ్రంథములోని దైవధర్మములను ముస్లీమ్ లు మొదట
          తెలియవలెననీ, తర్వాత హదీసు సాంప్రదాయములను తెలియవలె
          ననీ తెల్పుట.
          <br><br>
          11.పవిత్ర ఖురాన్ గ్రంథములోని దైవదూత యొక్క వాణిని ప్రవక్త శ్రీ
          ముహమ్మద్ గారు (సం) తెలియజేసినదనీ, ప్రవక్త పరమపదించిన
          తర్వాత 121,145,149,168, సంవత్సరములకు వచ్చిన హదీసు
          గ్రంథములు ముస్లీమ్ పండితులు తెలియజేసినవనీ, అందువలన
          ఇస్లామ్ లో మొదటి స్థానము పవిత్రఖురాన్ గ్రంథముదని తెల్పుట.
          <br><br>
          12. పవిత్ర ఖురాన్ గ్రంథములోని దైవధర్మములను తెలిస్తే శాశ్వితమైన
          పరలోకమునకూ, హదీసు గ్రంథములోని సాంప్రదాయములను తెలిస్తే
          స్వర్గలోకమునకూ పోవుదురని తెల్పుట.

        </ion-col>
      </ion-row>


    </ion-card>
  </ion-grid>
</ion-content>