<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <img src="assets/img/devudimudra.png" height="50">
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size:15px"><b>అంతిమ దైవగ్రంథములో<br>జ్ఞాన వాక్యములు</b></ion-title>
    <ion-buttons slot="end">
      <img src="assets/img/kiss.png" height="50">
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-content-color">

  <ion-grid>

    <ion-row>
      <ion-col style="font-size:15px" class="ion-text-center">
        <b>అంతిమ దైవగర్రథములో  నా ముందు మాట</b> &nbsp;<ion-icon (click)="presentModal()" name="settings"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-card class="custom-card-summary" [style.color]='this.globaldata.fontColor'
      [style.background-color]='this.globaldata.bgColor' [ngStyle]="{'font-size':this.globaldata.fontSize+'px'}">
      <ion-row>
        <ion-col>

          <span [ngStyle]="{'font-size':this.globaldata.fontSize+'px'}">

            వార్త అనగా మోసుకొని వచ్చునది. వాసన అనగా తీసుకొని వచ్చునది. వార్త అను శబ్ధమునుండి వాసన అను శబ్ధము పుట్టినది.
            పూర్వము చదువురాని కాములో ఒక వార్తను ఒకచోటినుండి మరొక చోటికి పంపుటకు రాజు ఒక వ్యక్తిచేత తమ సమాచారమును పంపెడి
            వారు. అట్లు సమాచారమును మోసుకొని పోయెడి వానిని ‘‘వార్తాహరుడు’’ అని అనెడివారు. వార్త అనగా సమాచారము అని
            అర్థముకాగా, హరుడు అంటే లేకుండా చేయువాడు అని అర్థము. వార్తను లేకుండా చేయువానిని వార్తాహరుడు అనెడివారు. ఇంకా
            అర్థమయ్యేటట్లు చెప్పుకోవాంటే వార్తను చంపివేయువాడు అని అర్థము. ఇదేమి అర్థము, వార్తను తీసుకొనిపోవువాడు అనినా
            ఫరవాలేదు. వార్తను మోసుకొని పోయెడివాడు అనినా సరిపోతుంది. ఇది ఏదీ కాకుండా ఏకంగా వార్తను లేకుండా చేయువాడు అని
            ఎందుకు అన్నారు? అని కొందరు ప్రశ్నించవచ్చును. దానికి మా జవాబు ఈ విధముగా కదు. ఒక సమాచారమును ఇంకొక చోటికి
            పంపునప్పుడు ఇప్పటికాములో ఒక జాబు (లేఖను) వ్రాసి, దానిని ఇతయి ఎవరూ చదవకుండా మడిచిపెట్టి మూతవేసి పంపుదుము. అది
            చేరవసిన చోటికి చేరిన తర్వాత అక్కడ దానికున్న మూతను చింపి లేఖను తెరచి చూస్తే అప్పుడు దానిలోని సమాచారము
            తెలియును. అంతవరకూ ఆ కవర్‌ను చూచిన వారికి ఏ సమాచారమూ కనిపించదు. కవర్‌లోయున్న సమాచారము అంతవరకూ లేనట్లే కదా!
            అనగా తెలియనట్లే కదా! అలాగే పూర్వము ఒక రాజు మరియొక రాజువద్దకు రహస్య సమాచారమును పంపునప్పుడు, ఒక వ్యక్తిని
            నియమించుకొని వాని చేతికి ఏ ఉత్తరమూ (లేఖ) వ్రాసి ఇవ్వకుండా, ఇక్కడ చెప్పిన సమాచారమును తనలో దాచుకొని, గమ్యమును
            చేరిన తర్వాత చెప్పవసిన రాజుకు ఆ సమాచారమును చెప్పెడివాడు. అంతవరకూ పంపబడిన వార్త వానిలో ఇమిడిపోయి బయటికి
            తెలియకుండా పోయినది. అంటే అది చచ్చిన దానితో సమానమే అయిపోయింది. మధ్యలో ఆ మనిషిని చూడవచ్చును గానీ, ఆ వార్తను
            చూడలేరు. ఒక సమాచారము బయటికి తెలియకూడదను ఉద్దేశ్యముతో ఆ వార్తను చంపి మనిషిలో సమాధి చేసి పంపెడివారు. అందువన
            పూర్వము వార్తను మోసుకొని వచ్చువానిని వార్తాహరుడు అనెడివారు.
            <br><br>వార్త అను పదమునుండి వాసన అను పదము పుట్టినది. వాసన యనగా తీసుకరాబడునదని అర్థము. వార్త మోసుక
            రాబడునదిjైునప్పుడు వాసన తీసుకరాబడునదని చెప్పవచ్చును. వార్తను మనిషి మోసుక రాగడు. అలాగే వాసనను గాలి
            తీసుకరాగదు. మనిషిలోని వార్త ఎలా కనిపించదో, అలాగే గాలిలోని వాసన కూడా కంటికి కనిపించదు. వార్తాహరుడు వార్తను
            చెప్పునప్పుడు ఆ వార్త చెవు ద్వారా ఇతరుకు తెలియుచున్నది. అలాగే వాసన గాలి ద్వారా ముక్కుకు చేరినప్పుడే ఆ వాసన
            ముక్కుకు తెలియుచున్నది. వార్తను తనయందు సమాధి చేసిన వానిని హరుడు అనినట్లు, వాసనను తనయందు ఇముడ్చుకొన్న గాలిని
            మారుతము అంటున్నాము. హరుడు అనగా చంపువాడు అని అర్థము ఎలాగయున్నదో, అలాగే మారుతము అనగా చంపునదియని అర్థము లేక
            మారణము చేయునది అని అర్థము. మారణము చేయుట వన గాలిని మారుతము అంటున్నాము. హరించువాడు గనుక మనిషిని హరుడు
            అంటున్నాము. వార్త దగ్గర మనిషి వార్తాహరుడుగా మారుచున్నాడు. అట్లే వాసన దగ్గర గాలి గంధ మారుతముగా లేక వాసన
            మారుతముగా మారి పోయినది.
            <br><br>మన శరీరములో కొన్ని గ్రంథున్నాయి అందు ఏడు ముఖ్యమైనవి. ఆ ఏడులో ఒకటి అతిముఖ్యమైనది. గ్రంథులో తెలియని
            విధానమున్నది. అక్కడ ఊరు ఊటు ఎలా ఊరుచున్నవో, ఎందుకు ఊరుచున్నవో ఎవరికీ తెలియదు. తెలియని విధానము ఉన్నదానిని
            గ్రంథి అంటున్నాము. అతిముఖ్యమైన గ్రంథిలో ఏమి ఊరుతున్నదో కూడా ఎవరికీ ఇంతవరకు తెలియదు. రహస్యమున్న దానిని గ్రంథి
            అంటున్నాము. అలాగే రహస్య జ్ఞానమున్న దానిని గ్రంథము అంటున్నాము. గ్రంథము అను పదము గ్రంథి అను శబ్ధమునుండి
            పుట్టినది. గ్రంథి అనగా ఆత్మ రహస్యము ఇమిడియున్నది. అలాగే గ్రంథము అనగా ఆత్మ జ్ఞానరహస్యము ఇమిడియున్నది.
            గ్రంథిని గురించి తెలియగలిగితే అది ఆత్మశక్తితో పని చేయుచున్నదని తెలియగరు. అలాగే గ్రంథమును గురించి
            తెలియగలిగితే జ్ఞానరహస్యమును గురించి తెలియవచ్చును. ఇప్పుడు మనము అంతిమ దైవగ్రంథమును చదువబోతున్నాము. అందులో
            అన్నీ జ్ఞాన రహస్యములే ఉన్నట్లు తెలిసినది. వాటిని విప్పి చెప్పుకొంటే అందులోని జ్ఞానము అర్థము కాగదు. విప్పి
            చెప్పుకోకపోతే అందులోయున్న జ్ఞానమేదో ఎవరికీ తెలియకుండా పోగదు. వార్తను కనిపించకుండా చేసినవాడు వార్తాహరుడు.
            వాసనను లేకుండా చేసినది గంధమారుతము. జ్ఞానమును తెలియకుండా దాచియుంచునది గ్రంథము. వార్తాహరుని ద్వారా వార్తను
            చెవుతో తెలియవచ్చును. వాసనను ముక్కుతో తెలియవచ్చును. అలాగే గ్రంథములోని జ్ఞానమును బుద్ధి ద్వారా తెలియవచ్చును.
            అందువన బుద్ధి గ్రాహితశక్తి ఎవరెవరికి ఎంతయెంతయుండునో అంతయంతే జ్ఞానము అర్థముకాగదు. ఇప్పుడు వార్త, వాసన
            అర్థమైనట్లే గ్రంథము అంటే ఏమిటి అన్న విషయము అర్థమయిపోయిందనుకొంటాను.
            <br><br>వార్తలో చెడు వార్తుండవచ్చును, మంచి వార్తుండవచ్చును. అలాగే వాసనలో సువాసనుండవచ్చును,
            దుర్వాసనుండవచ్చును. జ్ఞానములో కూడా ఆత్మజ్ఞానముండవచ్చును, అజ్ఞానము ఉండవచ్చును. ఇందులో మనకు అవసరమైనవి
            మంచివార్తు, మంచి వాసను, ఆత్మజ్ఞానము అవసరము. ఆత్మజ్ఞానము ఒకే ఒక గ్రంథపఠనము ద్వారా తెలియవచ్చును. ఇప్పుడు
            వార్తను, సువాసనను కాకుండా జ్ఞాన విషయమును చూస్తే ఆత్మజ్ఞానము గ్రంథములోని వివరము ద్వారానే తెలియనగును. అలా
            కాకపోతే గురువు చెప్పు వార్తద్వారానయినా (జ్ఞానము ద్వారానయినా) తెలియవచ్చును. భూమిమీద గురువును గుర్తించుట
            కష్టము. చెప్పేవారంతా గురువు కాదు అనుట కూడా సత్యమే. వార్త విషయమును వదలివేస్తే గ్రంథము మాత్రము ఇవి గ్యారంటీగా
            ఆత్మజ్ఞానమును తెలియజేయునవని తెలిసిపోయినది. అందువన గ్రంథము ద్వారా ఆత్మజ్ఞానమును అనగా దైవజ్ఞానమును
            తెలియవచ్చును. అయితే గ్రంథము అనగా రహస్యముతో కూడుకొన్నది అని తెలిసినది. ఇప్పుడు మనము చూడబోవు గ్రంథము అంతిమ
            దైవగ్రంథము. ఇంతకుముందు ప్రథమ దైవగ్రంథమును చూచాము. అందులో దాచిపెట్టబడిన విషయము ఎక్కువగా లేకున్నా, అన్ని
            విషయము సుభముగా అర్థమగునట్లు ప్రత్యక్షముగా చెప్పియున్నా, అది గ్రంథము అని పిువబడుట చేత అందులో రహస్యముండుట
            సత్యమే అయినది. ప్రథమ దైవగ్రంథము అయిన భగవద్గీతలోని విషయము చాలా భాగము ఇంతవరకు రహస్యముగానే నిలిచిపోయాయి.
            ఎవరికీ అర్థము కాలేదు. అందులో చెప్పిన కృష్ణుడు కూడా నేను చెప్పునది రాజ గుహ్యమైనదని చెప్పాడు. గుహ్యము అంటే
            రహస్యము, రాజగుహ్యము అంటే పెద్ద రహస్యము అని అర్థము. గీతలో యున్న విషయము కనిపించుటకు సుభముగాయున్నా అవి గ్రంథమైన
            విషయముగుట వన రహస్యముతో కూడుకొనియున్నవి. అందువననే చాతుర్వర్ణము అను శ్లోకము ఇంతవరకూ అర్థము కాలేదని
            చెప్పవచ్చును. భగవద్గీతలో మూ సిద్ధాంతమైన ‘‘త్రైత సిద్ధాంతమే’’ అర్థము కాలేదు. ఈ విధముగా ముఖ్యమైనది ఎంతయుందో
            అంత ఎవరికీ అర్థము కాలేదనియే చెప్పవచ్చును. కొందరికి ఈ మా మాట కోపమును తెప్పించియుండ వచ్చును. దానికి నేను ఏమీ
            చేయలేను హిందువులో ఎవరు ఎంత స్థాయిలోయున్నా, భగవద్గీత ఆధ్యాత్మిక గ్రంథమయిన దానివన అందులోని ఆధ్యాత్మికము
            దాచిపెట్టబడియుండుననీ, అది అందరికీ అగుపించదనీ చెప్పవచ్చును. అంతేకాక మేము చెప్పుమాట నిరూపణకు వచ్చునట్లు హిందూ
            సంస్థయినవారు, హిందూ ధర్మమును కాపాడుతామని కంకణము కట్టుకొన్నవారు, మేము స్వచ్ఛమయిన హిందువుమనువారు అనంతపురము
            జిల్లా, గుంతక్లులో సరస్వతి విద్యామందిరము ముందర సరస్వతి సాక్షిగా మేము రచించిన ‘‘త్రైత సిద్ధాంత భగవద్గీత’’ ను
            అగ్గిపెట్టి కాల్చివేశారు. భగవద్గీత అర్థము కాలేదనుటకు ఈ నిరూపణ చాు కదా!
            <br><br>నేడు దేశములోయున్న భగవద్గీతలోకెల్లా ఎక్కువ వివరమును ఇచ్చి దైవజ్ఞానమును దగ్గరగా అందరికీ అర్థము
            అగులాగున ‘‘త్రైత సిద్ధాంత భగవద్గీత’’ చేసినదని ఎంతోమంది అనుకొంటున్నా, కొందరికి మాత్రము త్రైత సిద్ధాంతము అను
            ఒక పేరుమాత్రము అర్థముకాలేదు. అక్కడే అందరూ మోసపోయి భగవద్గీతకు దూరముగాయున్నారు. మిగతా భగవద్గీతు ఎన్నియున్నా
            త్రైత సిద్ధాంతములో చెప్పిన వివరము మరి ఏ సిద్ధాంతములో లేనందున అది ఇప్పటికీ చాలామందికి రహస్యముగానేయున్నది.
            చదివే ప్రజకేగాక, గీతను వ్రాసిన స్వామీజీకు కూడా అది రహస్యమైన గ్రంథమే అని చెప్పవచ్చును. అందుకే ‘‘ఎవరికీ’’ అను
            పదమును ఉపయోగించి అర్థము కాలేదని చెప్పాను. అది అర్థమయివుంటే నేడు భూమిమీదవున్న క్రైస్తవమునకుగానీ,
            ఇస్లామ్‌కుగానీ అందులో పుణాది ఉన్నదని తెలిసి పోయెడిది. అంటే బైబిు గ్రంథముగానీ, ఖుర్‌ఆన్‌ గ్రంథముగానీ రెండు
            గ్రంథముూ భగవద్గీతను ధృవీకరించుచున్నవని తెలిసెడిది. నేడు ప్రత్యక్షముగా అంతిమ దైవగ్రంథము ఖుర్‌ఆన్‌లో దేవుడు
            జిబ్రయేల్‌చే చెప్పించిన వాక్యములో ఖుర్‌ఆన్‌కంటే ముందు వచ్చిన దైవగ్రంథమును ఖుర్‌ఆన్‌ ధృవీకరించుచున్నదని
            చెప్పినా నేడు ఆ మాటను ఎవరూ గ్రహించడము లేదు. మరియొక చోట బైబిు, ఖుర్‌ఆన్‌ రెండు గ్రంథము ముందువచ్చిన
            గీతగ్రంథములో అసయిన జ్ఞానమున్నదని ధృవీకరించు చున్ననూ క్రైస్తవుకూ, ముస్లీమ్‌కూ అర్థముకాలేదు. భగవద్గీతలో యున్న
            జ్ఞానమే మిగతా రెండు గ్రంథములోయున్నదను విషయము హిందువుకూ అర్థముకాలేదు.
            <br><br>వాస్తవము చెప్పాంటే ప్రథమ దైవగ్రంథము, ద్వితీయ దైవగ్రంథము, అంతిమ దైవగ్రంథముని మనుషుకు మూడే మూడు
            గ్రంథము ఇవ్వబడినవి. ఈ మూడిటియందు ఒకే దైవ జ్ఞానముండుట వన వాటికి ముందు వెనుక దైవగ్రంథమును పేర్లు వచ్చినవి.
            మూడు దైవగ్రంథములో ఆధ్యాత్మికమేయుండుట వన గ్రంథములోని ఆధ్యాత్మికము రహస్యముగా దాచిపెట్టబడియున్నదని
            చెప్పవచ్చును. అందువననే మూడు సమాజము వారికి మూడు గ్రంథము వాస్తవికత అర్థము కాలేదనీ, వారికి అర్థమయినది అంటే అది
            మతముకు సంబంధించినదే అర్థమయినదనీ తెలియుచున్నది. వార్తాహరుడు అంటే వార్తను హరించినవాడు అని అర్థము ఉన్నట్లు,
            గంధమారుతము అంటే వాసనను లేకుండా చేసినది అన్నట్లు, గ్రంథము అనగా రహస్యముతో కూడుకొన్నది అని అర్థము గదు.
            వార్తాహరుని నుంచి వార్త చెవి ద్వారానే తెలియనగును. అట్లే గంధమారుతము నుండి వాసనను ముక్కు ద్వారానే తెలియదగును.
            అలాగే గ్రంథములోని ఆధ్యాత్మికము బుద్ధి ద్వారానే తెలియబడును. వార్తాహరుడు తనలో చంపబడిన వార్తను వాడు బయటికి
            చెప్పితే దానిని చెవుద్వారా విని తెలియవచ్చును. అలాగే గ్రంథములోని విషయమును ఆత్మ తెలియజేసినప్పుడు మాత్రమే తమ
            బుద్ధి ద్వారా గ్రహించవచ్చును. ఆత్మ తెలియజేయానుకోకపోతే మనిషి గ్రంథమును ఎంత చదివినా అందులోని చిన్నముక్క కూడా
            అర్థము కాదు. అదే పరిస్థితే నేడు భూమిమీద నెకొనియున్నది.
            <br><br>నేడు భూమిమీద మూడు గ్రంథమును మూడు సమాజము వారు నాది ఈ గ్రంథము, నాది ఈ గ్రంథము అని పంచుకొని, నిర్ణయించు
            కొని మూడిరటిని వారివారి గ్రంథముగా చెప్పుకొంటున్నారు. ఎలా చెప్పుకొనినా ఆ గ్రంథమును వారు అందరూ చదువలేదు.
            చదివినా అవి అందరికీ అర్థము కాలేదు. గ్రంథము అను సూత్రము ప్రకారము అందులోని సమాచారము వారి బుర్రకు, బుర్రలోని
            బుద్ధికి అందలేదు. అలా బుద్ధి గ్రాహ్యమునకు రావాంటే గ్రంథములో శక్తిరూపమైయున్న ఆత్మకు చదివేవాడు నచ్చియుండాలి.
            ఆత్మకు ఇష్టములేని వానికి గ్రంథము అర్థముకానట్లు ఆత్మ చేయుచున్నది. చదివిన తర్వాత వాని బుద్ధికి అది వాస్తవ
            భావములో కాకుండా వేరు భావములో అర్థమగుచున్నది. అందువన నేడు గ్రంథమును వ్రాయువారు వేరు భావములో వాక్యమునకు
            అర్థమును వ్రాయడము జరుగుచున్నది. మేము చెప్పునది మూడు గ్రంథము విషయములో అలాగే కొనసాగుచున్నది. హిందువుకు
            భగవద్గీత అర్థము కాలేదు. క్రైస్తవుకు బైబిు అర్థము కాలేదు. ముస్లీమ్‌లకు ఖుర్‌ఆన్‌ అర్థము కాలేదు. భగవద్గీత
            అర్థము కాలేదు అని మేము వ్రాసిన ‘‘త్రైత సిద్ధాంత భగవద్గీత’’ బయటికి వచ్చిన తర్వాత చాలామందికి తెలిసినది. అలాగే
            క్రైస్తవుకు బైబిు అర్థము కాలేదు అనుటకు మేము వ్రాయబోవు ‘‘సువార్త బైబిు’’ బయటికి వచ్చిన తర్వాత తెలియగదు.
            ఇకపోతే ముస్లీమ్‌కు ఖుర్‌ఆన్‌ గ్రంథము అర్థమయినదా, అర్థము కాలేదా అను విషయము ఇప్పుడు మేము వ్రాసిన ‘‘అంతిమ
            దైవగ్రంథములో జ్ఞాన వాక్యము’’ అను ఈ గ్రంథము ద్వారా తెలియగదు.
            <br><br>ఖుర్‌ఆన్‌ గ్రంథములో 114 సూరాు, 6236 ఆయత్‌ు గవు. అందులో 112వ సూరా నా కిష్టమైనదిగా చెప్పుచూ అక్కడయున్న
            నాుగు ఆయత్‌కు వివరము చెప్పాము. 114 సూరాలో 112వ సూరా ఒక్క దానినే పూర్తి చెప్పినట్లయినది. 6236 వాక్యములలో
            కేవము 136 సమాచారముకు మాత్రమే వివరమును వ్రాయగలిగాము. మేము వ్రాసిన 136 సమాచారము దాచిపెట్టబడిన జ్ఞానముగ
            వాక్యములేయని చెప్పవచ్చును. 136 వాక్యములోనూ భావమును తప్పుగా అర్థము చేసుకొన్నారని కొంతవరకు అర్థము కాగదు.
            ముఖ్యముగా ఈ గ్రంథమును గురించి మేము చెప్పబోవునది ఏమనగా! ఇంతవరకు ఖుర్‌ఆన్‌ అర్థము కాకపోయినా ఇప్పుడు ఈ
            గ్రంథముతో ఎవరికయినా ఖుర్‌ఆన్‌ గ్రంథము అర్థము కాగదు. కొన్ని వాక్యమును చూచిన వారు ముస్లీమ్‌ు ఖుర్‌ఆన్‌లో ఇంత
            గొప్ప అర్థమున్నదా!యని కొందరూ, ఇంత గొప్ప వాక్యమున్నవా!యని మరి కొందరూ అంటున్నారు. ఖుర్‌ఆన్‌ గ్రంథమును ఇంతకు
            ముందే చదివి అర్థము చేసుకొన్నవారు ఈ గ్రంథమును చూచిన తర్వాత ఇంతవరకూ అర్థముకాని గ్రంథము ఇప్పుడు అర్థమయినదని
            కొందరు అంటున్నారు. తర్వాత మాకు అర్థమయినది వేరుగాయుండేది, దానికంటే ఇప్పుడే గొప్పగా అర్థమయినదని
            చెప్పుచున్నారు. ఇంతకుముందు ఎన్నడూ ఖుర్‌ఆన్‌ చదువనివారు, అరబ్బీ భాషలో చదివి అర్థముకానివారు తొగు భాషలో మేము
            వ్రాసిన ఖుర్‌ఆన్‌ను చదివిన తర్వాత ఖుర్‌ఆన్‌ గ్రంథములో ఇంత గొప్ప వాక్యమున్నవా! అంటున్నారు. ఈ గ్రంథమును చదివిన
            ప్రతి ఒక్కరినీ ఈ గ్రంథము ఉత్తేజపరచి దైవ జ్ఞానమును వారికి అందివ్వగదు. అంతేకాక మిగతా మతమువారికి కూడా
            ఖుర్‌ఆన్‌ మీద కొంత అవగాహన ఏర్పడగదు.
            <br><br>నేడు మూడు మతములోనూ పరమత ద్వేషము అనునది చాలా ఎక్కువగాయున్నదని చెప్పవచ్చును. దానికి కారణము తన మతములో
            ఏముందో తెలియదు, తర్వాత పర మతములో ఏమున్నదో తెలియదు. తన పర మతము గ్రంథములో ఏమి వ్రాసియున్నారో ఎవరూ చూడడము లేదు.
            తన మత గ్రంథముగా చెప్పుచున్న గ్రంథములో ఏమున్నదని చూచి, తర్వాత ఇతర మత గ్రంథములో ఏమున్నదని చూచి, ఒకవేళ తన
            మతమునకు వ్యతిరేఖముగా ఏమయినా ఉంటే, ఇతర మత గ్రంథమును నీవు విమర్శించినా అప్పుడు సత్యము మాట్లాడినట్లగును.
            అట్లుకాకుండా గ్రుడ్డిగా మాట్లాడితే తప్పగును. దానిని పరమత ద్వేషము అంటారు. దానివన పాపము తప్ప ఏమీరాదు. నేడు
            ప్రతి మతము వారికీ వారి మత గ్రంథములో ఏమున్నదో తెలియకుండా పోయినది. ఇతర మత గ్రంథమును అసూయతో చూడడము తప్ప వాటిలో
            ఏమున్నదని చూచే వారు లేరు. మత సహనము అనునది పేరుకుయున్నా అందరిలో ద్వేషము తప్ప సహనము లేదు. ప్రస్తుత కాములో
            భగవద్గీతను జాతీయ గ్రంథముగా ప్రకటించాను వాదము తెరపైకి వచ్చినది. అన్ని టీ.వీ ఛాన్లకు దానిని గురించి ప్రసారము
            చేయడము ముఖ్యమైన పనిగా అయిపోయినది. మేము పది రోజునుండి ఏదో ఒక ఛానల్‌లో ఆ చర్చను చూస్తూనేయున్నాము. ఎవరితో ఈ
            విషయమును చర్చించాను నది ఏమాత్రము లేకుండా వారికి ఇష్టమొచ్చిన వారితో చర్చు జరుపడము మాకు విచిత్రముగా
            కనిపించుచున్నది.
            <br><br>హిందూమతములోని సిద్ధాంతకర్తుగానీ, వారి ప్రతినిధునుగానీ పిలిచి వారితో చర్చించి ఏది ఆమోదయోగ్యమో
            నిర్ణయించాలి. అటువంటి దానిని ఎవరికి ఇష్టమొచ్చిన వారితో వారు చర్చు జరుపడము సమస్యను సాగదీసినట్లేగానీ, సమస్యను
            పరిష్కరించినట్లుకాదు. హిందూమతములో అద్వైత సిద్ధాంతము, విశిష్టాద్వైత సిద్ధాంతము, ద్వైత సిద్ధాంతము గవు. ఆ
            సిద్ధాంతమును ప్రతిపాదించిన వారిని హిందూమతములోని గురువుని చెప్పవచ్చును. అద్వైత సిద్ధాంతకర్త శంకరాచార్యు
            చనిపోయాడు. విశిష్టాద్వైత సిద్ధాంతకర్త రామానుజాచార్యు కూడా చనిపోయాడు. ద్వైత సిద్ధాంతకర్త మధ్వాచార్యు కూడా
            చనిపోయాడు. ప్రస్తుత కాములో గత 36 సంవత్సరమునుండి ‘‘త్రైత సిద్ధాంతము’’ బయటికి వచ్చినది. త్రైత సిద్ధాంతమును
            అనుసరించి ‘‘త్రైత సిద్ధాంత భగవద్గీత’’ వ్రాయబడి నది. దానిని చదివినవారు ఎంతోమంది హిందువు ఆ భగవద్గీతను వ్రాసిన
            మమ్మును ప్రశంసించుచున్నారు. కొందరికయితే త్రైత సిద్ధాంతము హిందూ మతమునకు సంబంధించిన సిద్ధాంతమని కూడా తెలియదు.
            ఒక్క హిందూ మతములో తప్ప సిద్ధాంతము ఇతర మతములలో ఉండవను విషయము కూడా తెలియనివారు హిందువులో కరు. హిందూ మతములో
            త్రైత సిద్ధాంతకర్తగా నేను బ్రతికేయున్నాను. త్రైత సిద్ధాంతమును ఉపయోగించి ఇప్పటికి 56 గ్రంథము వ్రాశాము. ఇంకా
            వ్రాయబోయేటివి గవు. 56 గ్రంథము స్వచ్ఛమయిన ఆధ్యాత్మికతను అందించాయని చదివిన ప్రజందరూ అంటున్నారు. అయినా
            ప్రస్తుతము భగవద్గీతను జాతీయ గ్రంథముగా ప్రకటించాని వచ్చిన వివాదమును గురించి ఎవరూ మీ ఉద్దేశ్యమేమి అని మమ్మును
            అడుగలేదు.
            <br><br>ఎవరూ ఈ వివాదమును గురించి మమ్మును అడుగకున్నా దానిని గురించి మేము ఏమంటున్నామంటే, భగవద్గీత 5150
            సంవత్సరము క్రిందట పుట్టినా తర్వాత దానికి అనుసంధాన గ్రంథము రెండు వచ్చినవి. భగవద్గీతలో చెప్పబడిన జ్ఞానమే మిగతా
            రెండు గ్రంథములో యున్నప్పుడు మిగతా రెండు గ్రంథముతో కలిపి భగవద్గీతయగును గానీ, భగవద్గీత కృష్ణుడు చెప్పినది
            మాత్రమేకాదు. ఉదాహరణకు ఒక ఆవు పుట్టిందను కొందాము. ఆవు అందరికీ ఆమోదయోగ్యమైన సాధుజంతువే. ఆవు పుట్టిన రెండు
            సంవత్సరముకు దాని తమీద రెండు కొమ్ము వచ్చాయి. ఆవు పుట్టిన రెండు సంవత్సముకు వచ్చిన కొమ్మును ఆవుకు సంబంధించినవి
            కావు, అవి గేదె జాతివి అని అంటామా? అనము కదా! అట్లే ఆవు పుట్టిన తర్వాత ఐదు సంవత్సరముకు పాపొదుగు, దానికి నాుగు
            చనుమొను వచ్చాయి అనుకొందాము. అప్పుడు వాటిని ఆవుకు సంబంధములేనివని అంటామా? ఆవు పుట్టిన రెండు సంవత్సరముకు గానీ,
            ఐదు సంవత్సరముకుగానీ ఆవును అనుసరించి పుట్టిన కొమ్మును, పాపొదుగును దానివి కావు అనము కదా! ఆవుకు అంటుకొని
            పుట్టిన దానివన కొమ్మును, పొదుగును ఆవుకు సంబంధించినవని, ఆవులోని భాగముగా లెక్కించుకొని, మొత్తము వాటితో కలిపి
            ఆవు అంటున్నాము. అటువంటప్పుడు భగవద్గీత ఒక ఆవు అనుకొనుము. భగవద్గీత పుట్టిన తర్వాత ఆవుకు కొమ్ము వచ్చినట్లు
            బైబిు పుట్టినది. బైబిులో భగవద్గీతను అనుసరించిన జ్ఞానముంటూ అది భగవద్గీతను ధృవీకరించు చున్నది. అప్పుడు అది
            ఆవులో కొమ్ము ఒక భాగమైనట్లు భగవద్గీతలో బైబిు ఒక భాగముగానే పరిగణించాలిగానీ, దానిని వేరు గ్రంథముగా చెప్పుటకు
            మీలేదు. ఎలా ఆవు కొమ్ము ఆవువి కావు అని అనలేమో అట్లే బైబిు భగవద్గీతకు సంబంధించినది కాదు అని అనలేము. అలాగే
            భగవద్గీత పుట్టిన తర్వాత బైబిు పుట్టినది. బైబిు పుట్టిన తర్వాత ఖుర్‌ఆన్‌ గ్రంథము పుట్టినది. ఆవుకు ముందు
            కొమ్ము పుట్టాయి. తర్వాత కొంత కామునకు పాపొదుగు పుట్టినది కదా! అట్లే భగవద్గీత పుట్టిన తర్వాత బైబిు, బైబిు
            తర్వాత ఖుర్‌ఆన్‌ పుట్టడము జరిగినది. చివరిలో పుట్టిన పాపొదుగు ఆవుకు అంటుకొని (తగుకొని) పుట్టినట్లే, చివరిలో
            పుట్టిన ఖుర్‌ఆన్‌ కూడా భగవద్గీత జ్ఞానమునకు అనుసంధాన జ్ఞానముగా పుట్టినది. అంతేకాక భగవద్గీతను ఖుర్‌ఆన్‌
            గ్రంథము కూడా ధృవీకరించు చున్నది. భగవద్గీతలోని జ్ఞానమును నిజమైన జ్ఞానమని అదియే నాలోయున్నదని ధృవీకరించి
            చెప్పుచున్నది. అటువంటప్పుడు చివరిలో పుట్టిన ఖుర్‌ఆన్‌ గ్రంథమును భగవద్గీతలోని భాగము కాదనుటకు వీవుతుందా?
            బైబిు, ఖుర్‌ఆన్‌ గ్రంథము రెండూ కలిసినప్పుడు భగవద్గీత సంపూర్ణ గ్రంథమగును. ఆవుకు కొమ్ము, పాపొదుగును కలిపి
            సంపూర్ణ ఆవు అంటున్నాము. అంతకు ముందు అవి రెండూ లేనప్పుడు పుట్టినది ఆవు అయినా దాన్ని ఆవుదూడ అంటున్నాము.
            ఎప్పుడయితే కొమ్ము, పాపొదుగు వచ్చిందో అప్పుడు సంపూర్ణ ఆవుగా అది లెక్కించబడుచున్నది. అప్పుడు ఆవుదూడ యను
            పేరుండదు. అలాగే భగవద్గీత సంపూర్ణ భగవద్గీత కావాలంటే భగవద్గీతకు అనుసంధానముగా యున్న బైబిును, ఖుర్‌ఆన్‌ను కలిపి
            చెప్పవసిందే.
            <br><br>ఆవుకున్న కొమ్ము నావియని, ఆవు నాదికాదు అంటే అది ఎంత తెలివి తక్కువగాయుండునో అంతే తెలివి తక్కువగా
            బైబిునాది భగవద్గీత నాకు సంబంధములేదు అనువాడు కనుపించును. అట్లే పాపొదుగు నాది ఆవు నాది కాదు అంటే ఎంత బుద్ధి
            తక్కువమాటయగునో అంతే బుద్ధి తక్కువగా ఖుర్‌ఆన్‌ నాది భగవద్గీతతో మాకేమి పని? అనువారు కనిపించగరు. అయితే నేడు అదే
            జరుగుచున్నది. ఒకే ఆవును పట్టుకొని ముగ్గురు వ్యక్తు ఆవు నాదియని ఒకడంటే, కొమ్ము నావియని మరొకడు, పాపొదుగు
            మాత్రము నాదియని ఇంకొకడు అంటున్నారు. ఆవునాదియను మొదటివాడు తర్వాత పుట్టిన కొమ్ము, పొదుగుతో నాకేమి సంబంధము?
            అవిరెండూ నావికావు, ఆవు మాత్రమే నాది అంటున్నాడు. మిగతా ఇద్దరు అలాగే కొమ్మునొకడు, పాపొదుగును ఒకడు నావి
            అంటున్నారు. అలా కొమ్ము నావి అనువాడు కొమ్మువైపే చూస్తున్నాడు, పాపొదుగు నాది అనువాడు దానివైపే చూస్తున్నాడు.
            అవి రెండూ ఆవుకే యున్నా వారు ఆవును ఏమాత్రము గమనించడములేదు. అట్లున్నా ఒక రకముగా ఫరవాలేదుగానీ, నా కొమ్మును నేను
            కోసుకొని పోతానని ఒకడు, నా పా పొదుగును తీసుకొని పోతానని ఇంకొకడు పోట్లాడుకొన్నప్పుడంతా అనుకొంటున్నారు. వారి
            వాదనను తీర్చుటకు ఒక పెద్దమనిషి వచ్చి కొమ్ము, పొదుగు రెండూ ఆవుకేయున్నాయి అవి వేరు వేరుకాదు అంటే ముగ్గురూ
            కలిసి బుద్ధి చెప్పిన వానిమీదికే దాడికి దిగారు. అయినా పెద్ద మనిషి అయినవాడు ఓపికతో ఎంతగా చెప్పినా వినకుండా
            చెప్పేవానినే మతిభ్రమించిన తెలివితక్కువ వానిగా లెక్కించారు. నేటి కాములో భగవద్గీత యంటే ఏమిటి? దానికి
            అనుసంధానమైనవి ఏవి? అని తెలియకుండానే భగవద్గీతను జాతీయ గ్రంథముగా చేయవలెనని కొందరంటున్నారు. భగవద్గీత, బైబిును,
            ఖుర్‌ఆన్‌ను కలిపి జాతీయ గ్రంథముని అనవచ్చును. దానిని దేవుడయినా ఒప్పుకొంటాడు. అట్లుకాకుండా ఒక్కదానినే చేస్తే
            కొమ్మును, పా పొదుగును లేని ఆవుదూడను ఆవు అన్నట్లుంటుంది. లేకపోతే ఆవుకున్న పొదుగును, కొమ్మును తీసివేసి
            కొమ్ములేని బోడి ఆవును, పొదుగులేని గొడ్డు ఆవును నిజమైన ఆవు అని చూపినట్లుంటుంది. అందువన ఈ విషయమును గురించి
            లోతుగా ఆలోచించమని మేము సహా ఇస్తున్నాము. ఇంకా మేము ఏమి చెప్పుచున్నామంటే!
            <br><br>కొంత కబంద నారను తీసుకొని ఆ నారను మూడు పుయిగా త్రిప్పిపెట్టి, ఆ మూడు పురును ఒక త్రాడుగా పేడవచ్చును.
            ఇంకా బాగా అర్థము కావాంటే, ఒక తకున్న వెంట్రుకను మూడు భాగముగా చేసి, మూడు భాగమును ఒకదానిమీద ఒకటి ఎక్కించుచూ
            వస్తే అది జడగా తయారగును. ప్రతి దినము అందరూ అదే విధముగా తకున్న వెంట్రుకను జడగా చేసుకొంటున్నారు. అలాగే మూడు
            నార కట్టను ఒక తాడుగా చేయవచ్చును. మూడు పురు తాడులోయున్నదంతా కబంద నారేగానీ వేరు ఏమీ లేదు. అందులో ఒక
            పురిగాయున్నది మాత్రము తాడు అంటాము, మిగతా రెండు పురును తాడు అని అనము అనే దానికి మీ అవుతుందా! కాదనియే
            చెప్పవచ్చును. ఒకే తకున్న మూడు కట్టలో ఒక కట్టలోనివి మాత్రమే వెంట్రుకు అంటే, మిగతా రెండు కట్టలోనివి వెంట్రుకు
            కాదు అంటే సరిపోతుందా? ఎలా సరిపోతుంది. దానిని ఎవరూ ఒప్పుకోరు. మూడు భాగముగా విభజింపబడి, మూడు
            కట్టుగాయున్నంతమాత్రమున వాటిని వేరువేరుగా చెప్పుకోవడమే బుద్ధి తక్కువ పనియగును. తలోని అన్నిటినీ వెంట్రుకలే అని
            చెప్పవసిందే. ఒకే తలలోని వెంట్రుకను మూడు భాగముగా జడకొరకు విభజించితే వాటిలో ఇవి మాత్రము వెంట్రుకు, ఇవి
            వెంట్రుకు కాదు అనడము మూర్ఖత్వమేయగును. అలాగే మూడు పుయిగాయున్నది ఒకే తాడు, మూడు కట్టుగాయున్నది ఒకే జడ. మూడు
            గ్రంథముగాయున్నది ఒకే భగవద్గీత వీటిని ఎవరూ విభజించలేరు. విభజించిన అందరికీ అధిపతిjైున దేవుడు ఒప్పుకోడు. ఒకవేళ
            ఒప్పుకొంటే రేపు దేవున్ని కూడా త నాదియని ఒకడు, కాళ్ళు నావని ఒకడు, కాళ్ళు తమాత్రము కాకుండా మధ్యలోనిది మాత్రము
            నాది అనువారు కూడా తయారయి దేవున్ని కూడా మూడు ముక్కు చేయగరు. అందువన మూడు గ్రంథమును వేరువేరుగా చెప్పితే దేవుడు
            కూడా ఒప్పుకోడు. ఒకవేళ ఈ దినము ఆయన కళ్ళు మూసుకొని కూర్చుంటే రేపు ఆయనను కూడా పంచుకోగరు. అందువన దేవుడు అన్నీ
            తెలిసిన మేధావి. కనుక ఆయనకు ముప్పు ఏర్పడు దానిని ఓర్చుకోడు, ఒప్పుకోడు.
            <br><br>ఎప్పుడు మనిషిలో అజ్ఞానముంటుందో అప్పుడు మనిషి విచక్షణ లేకుండా పను చేయానుకుంటాడు. అందువన మేము
            మనిషిలోని అజ్ఞానమును తీసివేసి అందరికీ దేవుడు ఒక్కడేయని తొపు నిమిత్తము, అలాగే అందరూ వేరువేరుగా చెప్పుచున్న
            గ్రంథము మూడూ ఒకటేయని తొపు నిమిత్తము ఈ గ్రంథమును వ్రాశాము తప్ప ఏదో మత ప్రచారమునకని చెప్పవద్దండి. మమ్మును కూడా
            కుషితము చేయవద్దండి. మా బోధు గ్రహించండి. అప్పుడు మేము ఎవరిమో మీకే అర్థముకాగదు. నన్ను ఫలానా మతస్థుడని
            చెప్పుటకు మీపడదు. నేను మతమును ప్రచారము చేయుచున్నాడనుటకు కూడా మీపడదు. జ్ఞానచూపుతోనే మీరు నన్ను చూడండి. అజ్ఞాన
            చూపుతో చూడవద్దండి. ఇప్పుడు మీరు చదువబోయే మా వ్రాతను విచక్షణతో చదవండి. ద్వేషబుద్ధితో మాత్రము చదువవద్దు.
            ద్వేషముతో చదివితే అప్పుడు నా వ్రాత కూడా తెలియబడదు.
            <br><br>ఇట్లు<br>
            ప్రబోధానంద యోగీశ్వర్‌
          </span>

        </ion-col>

      </ion-row>

    </ion-card>

  </ion-grid>
</ion-content>